@{
	ViewBag.Title = "AccessToken";
}

<h2>AccessToken</h2>

<form method="post" action="/avt7/AccessToken">
	<fieldset>
		<legend>App Information</legend>
		<input id="appid" name="appid" /><br />
		<input id="appsecret" name="appsecret" /><br />
		<input type="submit" value="Get Token" /><br />
	</fieldset>
</form>

<div id="token" style="width:600px;"></div>
<script type="text/javascript">
	//O_gMRT-44mfWueHLQ6eBQ3zATPq8Vebt0CdpNQNlnw2qPahTMKYOsihjgMlv6A_BYCBvZkcNNBuBWGRCMhMaGO747fAO2f4xQwpoe19Fa79236gRQ32UXc_VXNhuJPN_g6eIgCRFJYbzj88QNjVIWA
	$('form').submit(function (e) {
		var id = $('#appid').val();
		var secret = $('#appsecret').val();
		var qdata = {
			appid: id == '' ? 'wx8980382cb43a6897' : id,
			appsecret: secret == '' ? '1137740a67c5152a9cd7af37abb4cd28' : secret
		};
		//console.log(qdata);
		$.post('/avt7/AccessToken', qdata, function (data) {
			$('#token').html(data);
		});
		return false;
	});
</script>
