@{
	ViewBag.Title = "AddMenu";
}

<h2>AddMenu</h2>

@*@ViewBag.Menu*@

<div id="menu"></div>
<div id="token"></div>

<button id="gentoken">生成token</button>
<button id="add">创建菜单</button>
<button id="get">查看菜单</button>
<button id="del">删除菜单</button>

<div id="log"></div>


<script type="text/javascript">
	var token;
	var menu = eval(@Html.Raw(ViewBag.Menu));
	//console.log(menu);
	var buttons = menu.button;
	var all = '<table>';
	for (var m in buttons) {
		var btn = buttons[m];
		//console.log(btn.name);
		all += '<tr>';
		all += ('<td>' + btn.name + '</td><td>' + (!!btn.type ? btn.key : ' ') + '</td>');
		var _all = '<table>';
		for (var b in btn.sub_button) {
			var button = btn.sub_button[b];
			console.log(button.name);
			_all += ('<tr><td>' + button.name + '</td><td>' + (!!button.type ? button.key : ' ') + '</td></tr>');
		}
		_all += '</table>';
		all += '<td>' + _all + '</td>';
		all += '</tr>';
	}
	all += '</table>';

	document.getElementById('menu').innerHTML = all;

	$('#add').click(function (e) {
		if (!token) {
			alert('先生成Token');
			return;
		}
		$.get('/WinXin/_AddMenu', { accessToken: token }, function (data) {
			$('#log').html(data);
		});
	});
	$('#get').click(function (e) {
		if (!token) {
			alert('先生成Token');
			return;
		}
		$.get('/WinXin/_GetMenu', { accessToken: token }, function (data) {
			$('#log').html(data);
		});
	});
	$('#del').click(function (e) {
		if (!token) {
			alert('先生成Token');
			return;
		}
		$.get('/WinXin/_DeleteMenu', { accessToken: token }, function (data) {
			$('#log').html(data);
		});
	});

	$('#gentoken').click(function (e) {
		$.post('/WinXin/AccessToken', function (data) {
			//console.log(eval(data));
			eval('var at = ' + data);
			token = at.access_token;
			$('#token').html(token);
		});
	});
</script>
